<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216132220858-545sdc3japec51j3lqnfbup5bcdpfo37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216132220858-545sdc3japec51j3lqnfbup5bcdpfo37</string>
	<key>API_KEY</key>
	<string>AIzaSyDf-R_2mvzaEgHp6WFKGMh8lbOzI_h8hAo</string>
	<key>GCM_SENDER_ID</key>
	<string>216132220858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherapp</string>
	<key>PROJECT_ID</key>
	<string>sanbercode-25ee3</string>
	<key>STORAGE_BUCKET</key>
	<string>sanbercode-25ee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216132220858:ios:511306349ae16b0528cf83</string>
</dict>
</plist>